/* Variables
 */
$base-font-size: 16px;
$black: #000;
$white: #fff;
$dark: #121212;
$light: #e5e5e5;
$link: #ed9a9a;
$main-padding: 1em;
$horizontal-scroll: 700px;

/* Reactjs containers
 */
#root {
  min-height: 100vh;
}

/* Google fonts (see index.html)
 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* General styles
 */
html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: $base-font-size;
  color: $dark;
  background: linear-gradient(
    90deg,
    rgb(157, 108, 189) 0%,
    rgb(247, 119, 119) 50%,
    rgb(255, 207, 139) 100%
  );
  // for touch devices
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $white;
  background-color: $link;
  padding: 0.25em 0.5em;
}

button {
  cursor: pointer;
  color: $white;
  background-color: rgb(157, 108, 189);
  padding: 0.25em 0.5em;
}

.flag {
  width: 20px;
  height: 15px;
  border: 1px solid lightgrey;
  margin-top: 1px;
}

header {
  z-index: 100;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1.5em 1em;
  background-color: #8602dd;
  border-bottom: 5px solid #5e009c;

  .field {
    position: relative;
    max-width: 500px;
    margin: 0 auto;

    input {
      font-size: 20px;
      width: 100%;
      border-radius: 1em;
      padding: 0.75em 1em;
      padding-right: 2.5em;
      vertical-align: top; // removed bottom extra spacing
      background-color: $white;
    }

    span {
      font-size: 2em;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: calc($horizontal-scroll + ($main-padding * 2))) {
    padding-bottom: 1.8em;

    &::after {
      content: "\21E6  SCROLL TABLE \21E8";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: $light;
      font-weight: 700;
    }
  }
}

main {
  padding: $main-padding;

  .table-container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: auto;
  }

  .no-results {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 2em;
  }
}

table {
  width: 100%;
  min-width: $horizontal-scroll;
  border-spacing: 2px;
  // border-collapse: collapse;

  th,
  td {
    padding: 4px 1em;
    vertical-align: middle;
  }

  thead {
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    color: $white;
    background-color: $dark;

    th {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  tbody {
    background-color: $white;

    tr {
      &:hover {
        background-color: $light;
      }

      td:first-child {
        font-weight: 500;
        white-space: nowrap;

        div {
          display: flex;
          gap: 6px;
          margin-right: 1em;
        }
      }

      td:last-child {
        text-align: center;
      }
    }
  }
}
